name: Pull request

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read
  checks: write

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  trunk-check:
    name: Trunk Check
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 1

      - name: Trunk Check
        uses: trunk-io/trunk-action@75699af9e26881e564e9d832ef7dc3af25ec031b # v1.2.4
        with:
          check-mode: all

  unit-test:
    name: SPM Unit Tests
    runs-on: macos-latest-xlarge
    needs: trunk-check
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Select Xcode
        uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd # v1.6.0
        with:
          xcode-version: "16.2"

      - name: Resolve dependencies
        run: swift package resolve

      - name: Run tests
        run: |
          xcodebuild test \
            -scheme Rokt-Widget \
            -destination 'platform=iOS Simulator,name=iPhone 16 Pro' \
            -skipPackagePluginValidation \
            -resultBundlePath TestResult.xcresult

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: TestResult.xcresult
          path: TestResult.xcresult
